<!DOCTYPE html>
<html>
<head>
    <title>Internship Login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h2>Internship Login</h2>
    <form action="/login" method="POST">
        <label>Email:</label><br>
        <input type="email" name="email" required><br><br>
        
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <div class="g-recaptcha" data-sitekey="6Ld3QXorAAAAAESJVE_6h1dJbPOqx-BX6_ahiErV"></div><br>
        
        <button type="submit">Login</button>
    </form>
</body>
</html>
