<!DOCTYPE html>
<html>
<head>
  <title>Internship Login</title>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
  <h2>Login</h2>
  <form action="/login" method="POST">
    <label>Email:</label><br>
    <input type="email" name="email" required><br>
    <label>Password:</label><br>
    <input type="password" name="password" required><br><br>

    <!-- reCAPTCHA widget -->
    <div class="g-recaptcha" data-sitekey="6LdxI3orAAAAACBkr0x4ubpLwh6b2mv2xaLmFhvt"></div>
    <br>

    <button type="submit">Login</button>
  </form>
</body>
</html>
