<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
    <h1>Login</h1>
    <form method="POST" action="/login">
        <label>Email:</label><br>
        <input type="email" name="email" required><br>
        <label>Password:</label><br>
        <input type="password" name="password" required><br><br>
        
        <div class="g-recaptcha" data-sitekey="6Ld3QXorAAAAAESJVE_6h1dJbPOqx-BX6_ahiErV"></div><br>

        <input type="submit" value="Login">
    </form>
</body>
</html>
